<settings>
<servers>
  <server>
    <id>httpserver-httpserver-cicd</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>httpserver-httpserver-cicd</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>httpserver-httpserver-cicd</id>
        <url>https://httpserver-040544895999.d.codeartifact.us-east-2.amazonaws.com/maven/httpserver-cicd/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
</settings>